<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="user@mydomain.com" />
    <add key="SMTPFrom" value="some password" />
    <add key="SMTPTo" value="user@mydomain.com" />
    <add key="SMTPUname" value="some password" />
    <add key="SMTPPwd" value="some password" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>